<configSections>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  <specFlow>
    <unitTestProvider name="Unickq.SpecFlow.Selenium" />
    <generator allowDebugGeneratedFiles="true" markFeaturesParallelizable="true"/>
    <plugins>
      <add name="Unickq.SpecFlow.Selenium"/>
    </plugins>
  </specFlow>
<autofac>
  <components>
    <component name="Chrome" type="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency" />
    <component name="ChromeIphone" type="Unickq.SpecFlow.Selenium.Local.ChromeDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      <parameters>
        <parameter name="capabilities">
          <dictionary>
            <item key="arguments" value="--window-size=395,687" />
            <item key="mobileEmulation" value="iPhone 6" />
          </dictionary>
        </parameter>
      </parameters>
    </component>
  </components>
</autofac>
</configSections>